:root {
    --font-color-base: #333333;
    --font-color-light: #666666;
    --font-color-link-hover: #C78FDA;
    --font-color-base2: #472836;
    --background-color-light: #F0E9E3;
    --highlight-color1: #D7EBBA;
    --highlight-color2: #EBD494;
    --highlight-color3-light: #f9eaff;
    --highlight-color3-lesslight: #e0bcec;
}

h3 {
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    color: #666666;
    font-weight: 400;
}

main {
    max-width: 720px;
}

#casestudy-header {
    background-color: white;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    right: 52px;
    margin: 0;
    padding: 42px 0;
}

.close-casestudy {
    border-radius: 4px;
    padding: 16px;
    border: 1px solid var(--font-color-light);
}

.close-casestudy i {
    margin-right: 16px;
}

.close-casestudy:hover {
    background-color: var(--highlight-color3-lesslight);
}

td.condition-key {
    text-align: right;
    padding-right: 0.5rem;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--font-color-link-hover-dark);
    width: 25%;
    vertical-align: top;
}

table {
    margin: 0 0 2rem 0;
}

td.condition-value {
    width: 25%;
    padding-left: 0.5rem;
}

h4 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-variant: all-small-caps;
    font-size: 1.2rem;
}

h4:before,
h4:after {
    content: '';
    border-top: 1px solid var(--font-color-base);
    margin: 0 8px 0 0;
    flex: 1 0 8px;
}

h4:after {
    margin: 0 0 0 8px;
}

.casestudy-section p {
    text-align: justify;
}

.read-time {
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.75rem;
}

.read-time-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.read-time-wrapper i {
    margin-right: 0.5rem;
    line-height: 13px;
}

.casestudy-header-img {
    object-fit: cover;
    height: 320px;
    margin: 16px 0;
}

.casestudy-preamble p {
    font-size: 1.5rem;
    font-family: math;
    color: var(--font-color-light);
}

.casestudy-progress-indicator {
    display: flex;
    justify-content: space-between;
    margin-top: 52px;
}

.progress-indicator-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--highlight-color3-light);
    padding: 8px;
    min-width: 106px;
    border-radius: 4px;
    justify-content: center;
}

.progress-indicator-arrow {
    display: flex;
    align-items: center;
    padding: 0px 4px;
}

.progress-indicator-item .item-number {
    font-size: 2rem;
    margin-right: 8px;
    font-weight: bold;
    color: var(--font-color-link-hover);
}

.progress-indicator-item .item-name {
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--font-color-link-hover);
    font-weight: 500;
}

.progress-indicator-item.active {
    background-color: var(--font-color-link-hover);
    color: white;
}

.progress-indicator-item.active .item-number {
    color: white;
}

.progress-indicator-item.active .item-name {
    color: white;
    font-weight: 400;
}

.casestudy-section {
    margin: 0 0 0px 0;
}

.casestudy-section-title {
    text-align: center;
    color: var(--font-color-light);
    font-size: 1.5rem;
    margin: 52px 0 0 0;
}

.process-description {
    margin: 0;
}

.casestudy-section-image img {
    width: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 16px 0;
}

.casestudy-section-image video {
    width: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 16px 0;
}

@media screen and (max-width: 1024px) {

    main {
        max-width: 720px;
    }

    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
        right: 16px;
        margin: 0;
        padding: 32px 16px;
    }

}

@media screen and (max-width: 540px) {

    .progress-indicator-arrow img {
        width: 24px;
    }

    .progress-indicator-arrow {
        margin: 0;
        padding: 0;
    }

    .progress-indicator-item {
        justify-content: flex-start;
        padding: 4px 4px;
        flex-direction: column;
        min-width: auto;
        margin: 0;
    }

    .progress-indicator-item .item-number {
        font-size: 1rem;
        margin-right: 0;
    }

    .progress-indicator-item .item-name {
        font-size: 0.75rem;
    }
}