:root {
    --font-color-base: #333333;
    --font-color-light: #666666;
    --font-color-link-hover: #C78FDA;
    --font-color-base2: #472836;
    --background-color-light: #F0E9E3;
    --highlight-color1: #D7EBBA;
    --highlight-color2: #EBD494;
    --highlight-color3: #C78FDA;
}

#employers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

h2 {
    margin-top: 32px;
    text-align: center;
    font-size: 1.2rem;
    font-variant: all-small-caps;
}

#greeting {
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
}

@media screen and (max-width: 480px) {   
    #greeting {
        margin-left: 0;
        width: 100%;
    }
}

#hi {
    margin: 16px 0 0 0;
    font-weight: bold;
}

#myname {
    font-size: 4rem;
    font-weight: bold;
    margin: 0;
}

#hero-text {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
}

#hero-text p {
    font-size: 3rem;
    font-weight:900;
    margin: 0.75rem 1.5rem;
}

@media screen and (max-width: 480px) {   
    #myname {
        font-size: 3rem;
    }
}

.employer-logo {
    height: 28px;
    margin: 16px;
}

#creatif-logo {
    height: 36px;
    margin-top: 8px;
}

#bio {
    text-align: justify;
}

#hero {
    display: flex;
    flex-direction: column;
    align-content: center;
}

#hero-image {
    height: 100%;
    display: block;
    background-size: auto 100%;
    background-repeat: no-repeat;
    margin-bottom: 1.5rem;
}

/*@media screen and (max-width: 400px) {   
    #hero-image {
    	background-image: url(../images/hero-image-400px.png);
    } 
}

@media screen and (min-width: 401px) {   
    #hero-image {
    	background-image: url(../images/hero-image-750px.png);
    } 
}

@media screen and (min-width: 1000px) {   
    #hero-image {
    	background-image: url(../images/hero-image-1000px.png);
    } 
}*/

#hero-foto {
    flex: 1;
    display: flex;
}

#hero-image-wrapper img {
    width: 33%;
    height: 50%;
}

#hero-image-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media screen and (max-width: 780px) {   
    #hero-image-wrapper {
        flex-direction: column;
        align-items: center;
    }

    #hero-image-wrapper img {
        width: 50%;
    }
}

#hero-sketch {
    flex: 2;
    height: 50vh;
}

.intro-text {
font-size: 1.5rem;
    font-family: math;
    color: var(--font-color-light);
    margin-bottom: 0;
}


#hero-research {
    font-family: "Newsreader", serif;
}

#hero-coding {
    font-family: 'Courier New', Courier, monospace;
}

.realistic-marker-highlight {
  position: relative;
}

.realistic-marker-highlight:before {
  content: "";
  background-color: var(--highlight-color3);
  width: 100%;
  height: 1em;
  position: absolute;
  z-index: -1;
  filter: url(#marker-shape);
  left: -0.20em;
  top: 0.1em;
  padding: 0 0.25em;
}

.realistic-marker-highlight-green {
  position: relative;
}

.realistic-marker-highlight-green:before {
  content: "";
  background-color: var(--highlight-color1);
  width: 100%;
  height: 1em;
  position: absolute;
  z-index: -1;
  filter: url(#marker-shape);
  left: -0.25em;
  top: 0.1em;
  padding: 0 0.25em;
}

.realistic-marker-highlight-yellow {
  position: relative;
}

.realistic-marker-highlight-yellow:before {
  content: "";
  background-color: var(--highlight-color2);
  width: 100%;
  height: 1em;
  position: absolute;
  z-index: -1;
  filter: url(#marker-shape);
  left: -0.25em;
  top: 0.1em;
  padding: 0 0.25em;
}

.circle-sketch-highlight{
  position:relative;
}

.circle-sketch-highlight:before{
  content:"";
  z-index:-1;
  left:-0.5em;
  top:-0.1em;
  border-width:2px;
  border-style:solid;
  border-color:var(--font-color-link-hover);
  position:absolute;
  border-right-color:transparent;
  width:100%;
  height:1em;
  transform:rotate(2deg);
  opacity:0.7;
  border-radius:50%;
  padding:0.1em 0.25em;
}

.circle-sketch-highlight:after{
  content:"";
  z-index:-1;
  left:-0.5em;
  top:0.1em;
  padding:0.1em 0.25em;
  border-width:2px;
  border-style:solid;
  border-color:var(--font-color-link-hover);
  border-left-color:transparent;
  border-top-color:transparent;
  position:absolute;
  width:100%;
  height:1em;
  transform:rotate(-1deg);
  opacity:0.7;
  border-radius:50%;
}

.rounded-circle {
    border-radius: 50%;
    position: relative;
    opacity: 70%;
    width: 230px;
    height: 230px;
    mix-blend-mode: multiply;
    filter: blur(24px);
}

#circle-1 {
    background-color: var(--highlight-color3);
    top: 0px;
    left: 50px;
}

#circle-2 {
    background-color: var(--highlight-color2);
    top: -90px;
    left: 200px;
}

#circle-3 {
    background-color: var(--highlight-color1);
    top: -540px;
    left: 345px;
}

.circle-title {
    z-index: 10;
    position: relative;
}

#uxdesign {
    top: -130px;
    left: 76px;
}

#research {
    top: -215px;
    left: 245px;
}

#coding {
    top: -670px;
    left: 365px;
}

