:root {
    --font-color-base: #333333;
    --font-color-light: #666666;
    --font-color-link-hover: #C78FDA;
    --font-color-link-hover-dark: #ad71c2;
    --font-color-base2: #472836;
    --background-color-light: #F0E9E3;
    --highlight-color1: #D7EBBA;
    --highlight-color2: #EBD494;
    --highlight-color3: #C78FDA;
}


* {
	/*padding: 0;
	margin: 0;
	box-sizing: inherit;*/
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: var(--font-color-base);
}

body {
    padding: 42px;
}

h2 {
    font-size: 2rem;
    text-align: center;
    font-variant: all-small-caps;
    margin-top: 0;
}

main {
    margin: 42px auto 0 auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 780px) {   
    body {
        padding: 16px;
    }
}

#footer {
    padding: 52px 0 0 0;
}

#footer #copyright {
    font-size: 12px;
    font-weight: lighter;
    text-align: right;
}

.action-button {
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 16px;
    font-size: 18px;
}

.action-button.primary:hover {
  background-color: var(--font-color-link-hover-dark);
}

.action-button.secondary:hover {
  background-color: var(--font-color-link-hover);
}

.action-button p {
    margin: 0;
}

.action-button.primary {
    background-color: var(--highlight-color3);
    border: 2px solid var(--highlight-color3);
}

.action-button.secondary {
    background-color: white;
    border: 2px solid var(--highlight-color3);
    color: var(--highlight-color3);
}

#scrollToTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    opacity: 0.9;
    box-shadow: 4px 4px 8px 0px rgba(170, 150, 181, 0.60);
}

