:root {
    --font-color-base: #333333;
    --font-color-light: #666666;
    --font-color-link-hover: #C78FDA;
    --highlight-color3-darker: #ad71c2;
    --font-color-base2: #472836;
    --background-color-light: #F0E9E3;
    --highlight-color1: #D7EBBA;
    --highlight-color2: #EBD494;
    --highlight-color3-light: #f9eaff;
    --highlight-color3-lesslight: #e0bcec;
}


.project-link {
    text-decoration: none;
    font-size: 1rem;
    font-weight: bolder;
    color: white;
    display: none;
    background: var(--font-color-link-hover);
    width: 140px;
    text-align: center;
    padding: 16px;
    border-radius: 8px;
    margin-top: 1.5rem;
}

.project-link.active {
    display: block;
}

.project-link:hover {
    background-color: var(--highlight-color3-darker);
    cursor: pointer;
}

.project-wrapper img {
    margin: 16px;
    padding: initial;
    /*height: 42vh;*/
    object-fit: cover;
    max-width: 50%;
}

.project-tags {
    display: flex;
}

.project-tag {
    padding: 8px;
    margin: 4px 16px 4px 0;
    border-radius: 8px;
    min-width: 60px;
    text-align: center;
    font-weight: bold;
}

.project-tag.industry {
    background-color: var(--highlight-color1);
}

.project-tag.university {
    background-color: var(--highlight-color2);
}

.project-tag.hobby {
    background-color: var(--background-color-light);
}

.project-tag.casestudy {
    background-color: var(--highlight-color3-lesslight);
}

.project-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 16px 0 0 0;
    text-transform: capitalize;
}

@media screen and (max-width: 1024px) {   
    .project-wrapper {
        display: flex;
        flex-direction: column;
        padding: 16px 0;
    }

    .project-wrapper:nth-child(even) {
        flex-direction: column;
        background-color: var(--highlight-color3-light);
        padding: 16px 0;
    }

    .project-wrapper img {
        height: auto;
        max-width: 100%;
    }

    main {
        max-width: 720px;
    }
}

@media screen and (min-width: 1025px) {   
    .project-wrapper:nth-child(even) {
        background-color: var(--highlight-color3-light);
        flex-direction: row-reverse;
    }

    .project-wrapper {
        display: flex;
        margin: 16px;
        padding: 16px;
    }
}

.project-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
    margin-bottom: 16px;
}

.techstack-item {
    padding: .25rem;
    /*background-color: var(--highlight-color3-lesslight);*/
    border-radius: 4px;
    margin: 0 .25rem .25rem 0;
    border: 1px solid;
    color: var(--font-color-link-hover);
}

.project-techstack{
    margin: 0 0 1rem 0;
}

.techstack-title {
    margin: 0 0 1rem 0;
    font-weight: bold;
    font-variant: all-small-caps;
}

.techstack-item-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}